.nosotros-text{
    color: white;
}

.nosotros-title{
    font-family: 'Antipasto Pro Medium';
}

.nosotros-lead{
    font-family: 'Lato Regular';
}

.nosotros-background{
    background-color: #a35776;
}